
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image:url("bg1.jpg") ;
	background-position: center;
	background-size: cover;
}

#myCanvas{

	border-width:10px ;
	border-style: ridge;
	background-color: white;

}
p{
	color: rgb(224, 34, 97);
	background-color:#85FFC7;
	border-radius: 10px;
	border-width: 2px;
	width: 300px;
}
